/* Website wide stuff start*/

body {
  background-size: cover;
  background: #031b4d;
  font-family: 'VT323', monospace;
  height: 100vh;
  font-size: 22px;
  padding: 0;
  margin:  0 0 4% 0;;
}

/* Website wide stuff end */

/* Page Header Start */
.header {
  text-align: center;
  font-size: 60px;
  color: #dddddc;
}

.header p {
  margin: 0;
  margin-bottom: 35px;
  margin-top: 50px;
}

/* Page Header End  */

/* Navbar start  */
.navbar {
  overflow: hidden;
  background-color: #008bcf;
  text-align: center;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #dddddc;
  color: black;
}

/* Navbar End */

/* About text start */
.text {
  color: white;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 25px;
}

.text p {
  line-height: 150%;
}

.text code {
  background-color: #eff0f1;
  font-family: 'VT323', monospace;
  font-size: 22px;
}

.text a {
  color: wheat;
}

.gif {
  height: 35%;
  max-width: 35%;
  margin: 0 auto;
  overflow: hidden;
  background-image: url('../images/digitalocean_vpc.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  outline: 5px double #677b63;
}

/* Index container start */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 560px;
}

.box {
  height: 440px;
  max-width: 35%;
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
  background-image: url('../images/digitalocean_modules.gif');
  background-size: cover;
  display: block;
  outline: 5px double #677b63;
}

.box:before {
  content: "";
  display: block;
  padding-top: 20%;
}

.square-content div {
  display: table;
  width: 100%;
  height: 75%;
}

.square-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  margin: 0;
}

.square-content a {
  text-decoration: none;
  color: white;
  font-size: 70px;
  margin: 0;
}

.square-content a:hover {
  color: rgb(255, 255, 255);
}

/* Index container end  */

/* Footer start */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  margin-top: 10px;
  width: 100%;
  background-color: #008bcf;
  color: white;
  text-align: center;
}

/* Footer end */
